.header * {
  /*for debuggin*/
  border: 1px solid red;
}
.body * {
  /*for debuggin*/
  /* border: 1px solid blue; */
}
.random-info-container * {
  /* border: 1px solid black; */
}
.footer {
  border: 1px solid darkorange;
}

* {
  font-family: "Roboto";
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* height: 2000px; */
  /* justify-content: center; */
  /* margin: 0 100px; */
  background-color: rgb(97, 97, 182);
}
.headar {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background-color: #1f2937;
  /* padding left and right */
  padding: 10px 100px;
}
.headar-logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bold;
}
ul {
  color: #e5e4eb;
  gap: 10px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* .body styles */
.body {
  display: flex;
  flex-direction: column;
}

/* intro part */
.website-intro-container {
  background-color: #1f2937;
  flex: 1;
  display: flex;
  gap: 35px;
  padding: 0px 100px;
}
.intro-text-items {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.intro-title {
  font-size: 48px;
  font-weight: 900;
  color: #f9faf8;
}
.intro-disc {
  color: #e5e4eb;
}
.intro-signup-btn {
  color: #f9faf8;
  background-color: #3882f6;
  padding: 5px 30px;
  border-radius: 5px;
}
.intro-picture-item {
  flex: 1;
}

/* randome info part */
.random-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9faf8;
}
.randome-title {
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin: 35px 0;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 90px 100px 90px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.square-img {
  border: 1px solid #3882f6;
  border-radius: 11px;
  width: 150px;
  height: 150px;
}
.img-disc {
  color: #363636;
  max-width: 140px;
}

/* quote part */
.quote-container * {
  border: 1px solid green;
}
.quote-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 100px;
}

.quote-author {
  text-align: right;
  align-self: flex-end;
}

/* call to action part */
.call-to-action-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.call-to-action-item {
  display: flex;
  gap: 30px;
}
/* .footer styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-rights {
  margin: 30px 0;
}
