.header * {
  border: 1px solid red;
}
.body * {
  border: 1px solid blue;
}
.random-info-container * {
  border: 1px solid black;
}
.footer {
  border: 1px solid darkorange;
}
body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 2000px;
  /* justify-content: center; */
}
.header {
  display: flex;
  justify-content: space-between;
  margin: 10px 20px;
}
ul {
  gap: 10px;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* .body styles */
.body {
  display: flex;
  flex-direction: column;
}
/* intro part */
.website-intro-container {
  flex: 1;
  display: flex;
  gap: 20px;
}
.intro-left {
  display: flex;
  flex: 1;
}
.intro-empty-space {
  flex: 1;
}
.intro-text-items {
  display: flex;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}
.intro-picture-item {
  flex: 1;
}

/* randome info part */
.random-info-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.randome-title {
  text-align: center;
  margin: 20px 0;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 0px 90px 100px 90px;
}
.square-img {
  width: 100px;
  height: 100px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* quote part */
.quote-container * {
  border: 1px solid green;
}
.quote-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px 200px;
}

.quote-author {
  text-align: right;
  align-self: flex-end;
}

/* call to action part */
.call-to-action-container {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}
.call-to-action-item {
  display: flex;
  gap: 30px;
}
/* .footer styles */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.copy-rights {
  margin: 30px 0;
}
